:root {
    background-color: var(--A);
    color: var(--C);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --A: #261C2C;
    --B: #3E2C41;
    --C: #5C527F;
    --D: #6E85B2;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: var(--D);
}

h1 {
    font-size: 3em;
}

#navbar {
    background-color: var(--B);
    padding: 2px 0.2vw 2px 0.2vw;
    position: fixed;
    width: 90vw;
    height: 5vh;
    top: 10px;
    right: 5vw;
    left: 5vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

#left {
    height: fit-content;
    width: 20%;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    align-self: center;
}

#lefta:hover {
    color: white;
}
@media only screen and ( max-device-width: 870px) {
#left {
    font-size: 1em;
}
}
@media only screen and ( max-device-width: 425px){
    #left{display: none;}
    #right{width: 100vw !important; justify-content: space-evenly;}
    .navelements{margin: 0px 2px 0px 2px ;}
    #navbar{
        width: 100vw;
        top: 0px;
        right: 0vw;
        left: 0vw;
        justify-content: center;
    }
}
    
#right {
    height: inherit;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navelements {
    font-size: 1.2em;
    margin: 0px 10px 0px 10px;

}
.navelements:hover {
    color: white;
}

#Welcome {
    height: 100vh;
    width: 100vw;
    background-color: var(--A);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Projects {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--B);
}

.project {
    width: 350px;
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--A);
    border-radius: 20px;
    font-size: 27px;
}

#projecttitle {
    width: 100vw;
    text-align: center;
    text-underline-offset: 2px;
}

.wrapper {
    padding: 20px;
}

.project:hover {
    animation: colorRotate 20s linear 0s infinite;
    font-size: 30px;
    font-weight: 200;
}

#Social {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--A);
}

#links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.profile-link {
    font-size: 3em;
}

#links {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#Contact {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: inherit;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: var(--B);
}

#Conc {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: inherit;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: var(--B);
}

#ConcDiv {
    height: 90%;
    width: auto;
    
}

#email {
    height: 20px;
}

#Blog {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

#BlogMaster {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.container {
    justify-self: space-evenly;
    height: 300px;
    width: 300px;
    background-color: var(--B);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

#maillink:hover {
    color: blue;
}

#walink:hover {
    color: #075E54;
}

#iglink:hover {
    color:#8a3ab9;
}

#fblink:hover {
    color:#4267B2;
}

#sclink:hover {
    color: #FFFC00;
}

#fcclink:hover {
    color: black;
}

#linlink:hover {
    color:#0072b1;
}

@media only screen and ( max-device-width: 425px) {
    .profile-link {
        font-size: 2em;
    }
}

@media only screen and ( max-device-width: 600px) {
    .wrapper {
        padding: 0px;
        flex-wrap: wrap;
    }
}

.rainbow {
    letter-spacing: 5px;
    animation: colorRotate 7s linear 0s infinite;
}

@keyframes colorRotate {0% {color: #FF0000;}7%{color: #FF7F00;}14%{color: #FFFF00;}21%{color: #00FF00;}28%{color:#0000FF;}34%{color:#2E2B5F;}41%{color: #8B00FF;}49%{color:#FF0000;}56%{color:#8B00FF;}63%{color: #2E2B5F;}70% {color: #0000FF;}77%{color: #00FF00;}84%{color:#FFFF00;}91%{color: #FF7F00;}100%{color:#FF0000;}}