body {
    background-color: white;
    padding-top: 20px;
    color: white;
}

button {
    text-align: center;
    padding: 20px;
    font-size: xx-large;
}

.wrapper {
    background-color: aliceblue ;
    display: unset;
    color: black;
    display: flex;
    width: 80vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    border-radius: 10px;
}

.vWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    margin: 20px;
    height: 80px;
    text-align: center;
    align-self: stretch;
    font-size: x-large;
}

.navbtn {
    
    background-color: aliceblue;
    border: none;
    color: Black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: xx-large;
    margin: 5px 30px;
    border-radius: 5px;

    width: 100%;
    height: 100%;
}

nav {
    
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80vw;
    display: flex;
    justify-content: stretch;

    border-color: black;
    border-radius: 10px;
    border-style:double;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#App1 {
    display: block;
}
#App2 {
    display: none;
}
#App3 {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#rgbcolor {
    margin-right: 10%;
    height: 90%;
    width: 90%;
    background-color: rgb(0,0,0);
    border-radius: 10px;
}

.app2rgb {
    height: 40vw;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.rgbSlider {
    width: 90%;
    margin-top: 5% ;
}

.rgbLabel {
    padding: 20px;
    font-size: xx-large;
    margin-top: 30px;
}

.rgbval {
    padding: 20px;
    font-size: xx-large;
    border-radius: 10px;
    border-style: solid;
    margin: 30px;
}

#rValueText {
    border-color: red;
}

#gValueText {
    border-color: green;
}

#bValueText {
    border-color: blue;
}

#App2.wrapper{
    background-color: white;
}
.white {
    background-color: white;
}

.fitcontent{
    height: fit-content;
}