body {
    background-color: #000;
}
 
p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    width: fit-content;
    font-size: large;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#colorDiv {
    height: 200px;
    width: 200px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 40px;
    margin: 40px;
}